.main{
    background: white;
    margin-bottom: 0px
}

.main img{
    width:600px;
    float: left;
    margin: 50px
}
.main p{
    text-align: justify;
    margin-top: 30px;
    margin-left: 50px
}
.main h1{
    padding-top: 50px
}

.main h1,h2{
    text-align: center;
    margin-top: 40px
}

